.container {

  border: 1px solid lightgray;
  padding: 20px;

  .list {
      float: left;
      &:nth-child(2){
          $padding-size: 5vw;
          padding-right: $padding-size;
          padding-left: $padding-size;
      }

      input{
          border: none;
          border-radius: 4px;
          padding: 10px;
          font-size: 0.6em;
          &:focus{
              outline: none
          }
      }

      ul{
          list-style: none;
          padding: 0;

          li{
              border-bottom: 1px solid lightcyan;
              display: block;
              
              &.checked {
                  position: relative;
                  &::before{
                      content: '';
                      position: absolute;
                      border: 1px solid lightgray;
                      width: 10px; height: 10px;
                      background: white;
                      left:0; top:35%;
                      
                  }
              }
          }
      }
  }
}